/* base style */
* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
}
body {
  /* background: #666; */
  font-size: 14px;
  line-height: 1.5;
  color: #333;
}
#wrapper {
  width: 50%;
  margin: 0 auto;
}
/* header style */
header {
  background: #123456;
  padding: 10px;
  color: #fff;
}
header h1 {
  font-size: 30px;
  font-weight: 700;
  color: #cc0;
  text-align: center;
  font-family: cursive;
}
header h1 strong {
  font-size: 3em;
  color: #fff;
}
header h1 span {
  font-size: 1.5em;
}
header h1 em {
  font-size: 2em;
  color: #ccc;
}
/* end header style */

/* begin container style */
.wrapper .container {
  background: black;
}
.container .menu {
  float: left;
  width: 20%;
  padding: 20px;
}
.container .menu li {
  margin-bottom: 8px;
}
.container .menu li a:hover {
  color: #662;
  border-bottom: 1px dashed #662;
}
.container .content {
  background: white;
  float: left;
  width: 80%;
}
.container .content h2 {
  background: #800;
  color: #ee0;
  font-size: 25px;
  font-weight: bold;
  padding: 5px 20px;
  font-family: cursive;
}
.container .content p {
  padding: 20px;
  text-align: justify;
}
